body{
    margin:0;
}
header{
    padding: 4rem 0;
    background-image: url("../myimages/5208008.jpg");
    background-size: contain;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
}
h2{
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    color: pink;
    padding: 4rem 0;

}
.text-center{
    text-align: center;
}
p{
    font-size: 100%;
    font-weight:bold;
}
.container{
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 50px;
    font-family: 'Roboto', sans-serif;
}
.card{
    margin: 4rem;
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(96,96,96);
    transition: 0.3s;
    min-width: 240px;
    border-radius: 5px;
    background-color: #FFF0F5;
}
.card:hover {
    box-shadow: 0 10px 16px 0 rgb(0, 0, 0);
    background-color: white;
  }
  .sbar{
      padding:5%;
      display: flex;
      justify-content: center;
  }
  .bar{
      width: 100%;
      max-width: 700px;
      background: rgba(185, 19, 19, 0.2);
      display: flex;
      align-items: center;
      border-radius: 60px;
      padding: 10px 20px;
  }
  .bar input{
      background: transparent;
      flex:1;
      border:0;
      outline:none;
      padding:24px 20px;
      font-size: 20px;
      color:#18181a;
  }
  .bar button{
      width: 25px;
      border: 0;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: transparent;
  }
  .bar button{
    background-image: url("../myimages/search.png");
    /* width: 60px; */
    background-size: contain;
  }
