<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
    <header class="text-center">
    <h1>Groupie-tracker</h1>
    </header>

    <div class="sbar">
        <form action="/search" class="bar" autocomplete="off" method="post">
            <input type="text" placeholder="Search.." id="search-bar" name="search-bar" list="search_bar">
            <button value=submit type="submit"></button>
        </form>
        <datalist id="search_bar">
            {{range .AllArtists}}
                <option value="{{.Name}}">{{.Name}} - artist/band</option>>
                {{range .Members}}
                    <option value="{{.}}">{{.}}  - member</option>
                {{end}}
                
                <option value="{{.CreationDate}}">{{.CreationDate}} - creation date</option>
                <option value="{{.FirstAlbum}}">{{.FirstAlbum}} - first album</option>
                
              {{range $key, $value := .PlacesDates}}
                <option value="{{$key}}">{{$key}} - location</option>
                {{end}}
            {{end}}
        </datalist> 
    </div>

        <h2 class="text-center">Choose your favorite artist</h2>
        <div class="container">
        {{range .FoundArtists}}
        <div class="card">
            <img src={{.Image}}>
            <p>{{.Name}}</p>
            <p><a href="/artist/{{.Id}}">Click here for more info</a></p>
    

        </div>
    {{end}}
    </div>

   
 
</body>
</html>